<html>
  <head> </head>
  <body>
    <div class="bg"></div>
    <br /><br /><br />
    <input class="center-block" type="file" name="filetoupush" /><br /><br />
    <table class='color' align="center">
      <tr>
        <th>Column in CSV</th>
        <th>Column in DataBase</th>
      </tr>
      <tr>
        <td>Reference</td>
        <td>
          <select class="browser-default custom-select">
            <option selected>Open this select menu</option>
            <option value="1">Reference</option>
            <option value="2">Costumer</option>
            <option value="3">Ship To</option>
            <option value="4">BU</option>
            <option value="5">Designation </option>
            <option value="6">Fournisseur </option>
            <option value="7">Categorie </option>
            <option value="8">Delai </option>
            <option value="9">Qte Min </option>
            <option value="10">Multiples </option>
            <option value="11">Volume unitaire </option>
            <option value="12">None </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Costumer</td>
        <td>
          <select class="browser-default custom-select">
            <option selected>Open this select menu</option>
            <option value="1">Reference</option>
            <option value="2">Costumer</option>
            <option value="3">Ship To</option>
            <option value="4">BU</option>
            <option value="5">Designation </option>
            <option value="6">Fournisseur </option>
            <option value="7">Categorie </option>
            <option value="8">Delai </option>
            <option value="9">Qte Min </option>
            <option value="10">Multiples </option>
            <option value="11">Volume unitaire </option>
            <option value="12">None </option>

          </select>
        </td>
      </tr>
      <tr>
        <td>Ship To</td>
        <td>
          <select class="browser-default custom-select">
            <option selected>Open this select menu</option>
            <option value="1">Reference</option>
            <option value="2">Costumer</option>
            <option value="3">Ship To</option>
            <option value="4">BU</option>
            <option value="5">Designation </option>
            <option value="6">Fournisseur </option>
            <option value="7">Categorie </option>
            <option value="8">Delai </option>
            <option value="9">Qte Min </option>
            <option value="10">Multiples </option>
            <option value="11">Volume unitaire </option>
            <option value="12">None </option>

          </select>
        </td>
      </tr>
      <tr>
        <td>BU</td>
        <td>
          <select class="browser-default custom-select">
            <option selected>Open this select menu</option>
            <option value="1">Reference</option>
            <option value="2">Costumer</option>
            <option value="3">Ship To</option>
            <option value="4">BU</option>
            <option value="5">Designation </option>
            <option value="6">Fournisseur </option>
            <option value="7">Categorie </option>
            <option value="8">Delai </option>
            <option value="9">Qte Min </option>
            <option value="10">Multiples </option>
            <option value="11">Volume unitaire </option>
            <option value="12">None </option>

          </select>
        </td>
      </tr>
      <tr>
        <td>Designation</td>
        <td>
          <select class="browser-default custom-select">
            <option selected>Open this select menu</option>
            <option value="1">Reference</option>
            <option value="2">Costumer</option>
            <option value="3">Ship To</option>
            <option value="4">BU</option>
            <option value="5">Designation </option>
            <option value="6">Fournisseur </option>
            <option value="7">Categorie </option>
            <option value="8">Delai </option>
            <option value="9">Qte Min </option>
            <option value="10">Multiples </option>
            <option value="11">Volume unitaire </option>
            <option value="12">None </option>

          </select>
        </td>
      </tr>
      <tr>
        <td>Fournisseur</td>
        <td>
          <select class="browser-default custom-select">
            <option selected>Open this select menu</option>
            <option value="1">Reference</option>
            <option value="2">Costumer</option>
            <option value="3">Ship To</option>
            <option value="4">BU</option>
            <option value="5">Designation </option>
            <option value="6">Fournisseur </option>
            <option value="7">Categorie </option>
            <option value="8">Delai </option>
            <option value="9">Qte Min </option>
            <option value="10">Multiples </option>
            <option value="11">Volume unitaire </option>
            <option value="12">None </option>

          </select>
        </td>
      </tr>
      <tr>
        <td>Categorie</td>
        <td>
          <select class="browser-default custom-select">
            <option selected>Open this select menu</option>
            <option value="1">Reference</option>
            <option value="2">Costumer</option>
            <option value="3">Ship To</option>
            <option value="4">BU</option>
            <option value="5">Designation </option>
            <option value="6">Fournisseur </option>
            <option value="7">Categorie </option>
            <option value="8">Delai </option>
            <option value="9">Qte Min </option>
            <option value="10">Multiples </option>
            <option value="11">Volume unitaire </option>
            <option value="12">None </option>

          </select>
        </td>
      </tr>
      <tr>
        <td>Delai</td>
        <td>
          <select class="browser-default custom-select">
            <option selected>Open this select menu</option>
            <option value="1">Reference</option>
            <option value="2">Costumer</option>
            <option value="3">Ship To</option>
            <option value="4">BU</option>
            <option value="5">Designation </option>
            <option value="6">Fournisseur </option>
            <option value="7">Categorie </option>
            <option value="8">Delai </option>
            <option value="9">Qte Min </option>
            <option value="10">Multiples </option>
            <option value="11">Volume unitaire </option>
            <option value="12">None </option>

          </select>
        </td>
      </tr>
      <tr>
        <td>Qte Min</td>
        <td>
          <select class="browser-default custom-select">
            <option selected>Open this select menu</option>
            <option value="1">Reference</option>
            <option value="2">Costumer</option>
            <option value="3">Ship To</option>
            <option value="4">BU</option>
            <option value="5">Designation </option>
            <option value="6">Fournisseur </option>
            <option value="7">Categorie </option>
            <option value="8">Delai </option>
            <option value="9">Qte Min </option>
            <option value="10">Multiples </option>
            <option value="11">Volume unitaire </option>
            <option value="12">None </option>

          </select>
        </td>
      </tr>
      <tr>
        <td>Multiples</td>
        <td>
          <select class="browser-default custom-select">
            <option selected>Open this select menu</option>
            <option value="1">Reference</option>
            <option value="2">Costumer</option>
            <option value="3">Ship To</option>
            <option value="4">BU</option>
            <option value="5">Designation </option>
            <option value="6">Fournisseur </option>
            <option value="7">Categorie </option>
            <option value="8">Delai </option>
            <option value="9">Qte Min </option>
            <option value="10">Multiples </option>
            <option value="11">Volume unitaire </option>
            <option value="12">None </option>

          </select>
        </td>
      </tr>
      <tr>
        <td>Volume unitaire</td>
        <td>
          <select class="browser-default custom-select">
            <option selected>Open this select menu</option>
            <option value="1">Reference</option>
            <option value="2">Costumer</option>
            <option value="3">Ship To</option>
            <option value="4">BU</option>
            <option value="5">Designation </option>
            <option value="6">Fournisseur </option>
            <option value="7">Categorie </option>
            <option value="8">Delai </option>
            <option value="9">Qte Min </option>
            <option value="10">Multiples </option>
            <option value="11">Volume unitaire </option>
            <option value="12">None </option>

          </select>
        </td>
      </tr>
    </table>
    <br>  <br>
    <button class="center-block">Push Data</button>
  </body>
</html>
